    
*{
    margin: 0%;
    padding: 0%;
    background-color: #FFFFE8;
}
.ime{
    background-image: url(flo.jpg);
    height: 50vh;
    width: 100%;
    margin-bottom: 4%;
    background-size: cover;
   
}
h1{
    text-align: right;
    
   
}
.ser{
    text-align: left;
    font-size: larger;
    font-weight: 500;
    margin-left: 12%;
}
