body{
    background-image: url(mul.png);
}
.mot{
    background-image: url(mon.jpg);
    height: 80vh;
    width: 100%;
    margin-top: 5%;
    margin-left: 20%;
   background-repeat: no-repeat;
   
   
}
h1{
    margin-top: 2 %;
    margin-left: 5%;
    border: 0%;
}


.dd{
    
}
