.fer{
    background-color: #F0997D;
    width: 70%;
    height: 60vh;
    margin-left: 15%;
    margin-top: 10%;
    opacity: 0.7;
}
p{
    text-align: center;
    padding: 15%;
    font-size: large;
}
.ter{
    background-color: #EAC7C7;
    width: 20%;
    height: 85vh;
    position: absolute;
    top: 10%;
    z-index: -1;
    opacity: 0.8;
    
}
.hyr{
    background-color: #FAEAB1;
    width: 20%;
    height: 85vh;
    position: absolute;
    right: 5%;
    top: 10%;
    z-index: -1;
    opacity: 0.8;
}
body{
    background-image: url('bg1.jpeg');
}
    